/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 180px; /* minimum width of the image (min width + border) */
	min-height: 250px;
}

.elastislide-wrapper {
	position: relative;
	width:750px;
	margin: 0 auto;
	min-height:50px;
	margin-left:-25px;
	
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 13px 30px 12px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
	height:247px;
	margin:0px 0px 10px 0px;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
	width:650px !important;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
	width:250px;
}

.elastislide-horizontal ul li {
	height: 300px !important;
	display: inline-block;
	width:160px !important;
	margin:0px 10px 0px 0px;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background:url(../images/left_arrow.png) no-repeat;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
	margin:10px 0px 0px 0px;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 265px;
	left: 736px;
	margin-top: 0px;
	
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right:37px;
	left: auto;
	background-position: 4px -17px;
	background:url(../images/right_arrow.png) no-repeat;
	width:16px;
	height:16px;
	top:265px;
	margin:0px 0px 10px 0px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}