@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../images/background.jpg) no-repeat #622d7f;
	background-position:center top;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% , auto;
	background-size: 100% auto;
	
	}
img{
	border:none;
	}
a {
	text-decoration:none;
	}

.wrap{
	width:995px;
	margin:0px auto;
	padding:0px;
}
.header{
	margin:0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #473750;
	overflow:hidden;
}
.logo{
	/*padding:10px 0px 0px 0px;*/
	float:left;
}

.header_right{
	float:right;
	
	margin:40px 0px 0px 0px;
}
.header_right h4{
	color:#e3aeff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin:5px 10px 0px 0px;
}
.DivSelectyze {
    margin-top: 0;
    position: relative;
    width:81px;
	float:left;
	
}
.DivSelectyze .selectyzeValue {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    z-index: 10;
}
.DivSelectyze ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.DivSelectyze .UlSelectize {
    display: none;
    position: absolute;
    z-index: 9999;
}
.DivSelectyze li a {
    display: block;
    text-decoration: none;
}
.optgroupTitle {
    display: block;
    z-index: 10000;
}

.mac .selectyzeValue {
    background:url(../images/select_box.jpg) no-repeat scroll 0 0 transparent ;
    color: #d5d5d4;
    float: left;
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    margin:0px 0px 0px -2px;
    padding:3px 0 14px 10px;
    width:64px;
	
	
}
.mac .UlSelectize {
    background-color: #d24ee0;
    border: 1px solid #74267f;
    left:0px;
    padding: 0;
    top: 21px;
    width: 70px;
    z-index: 10000;
}
.mac li {
    margin: 0;
    padding: 0;
}
.mac li a {
    background-color: transparent;
    border-top: 1px solid #d24ee0;
    color: #fff;
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 6px 0 0 7px;
}
.mac li a:hover {
    background-color: #74267f;
    border-top: 1px solid #d24ee0;
    color: #FFFFFF;
}
.mac .optgroupTitle {
    background-color: #FFFFFF;
    clear: both;
    color: #969696;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 5px 0 5px 7px;
}

.search_box{
	/*border-bottom:1px solid #2e2831;*/
	width:205px;
	float:right;
	margin:0px 0px 0px 0px;

}

.clear{
	clear:both;
	height:10px;
}

.email_input{
	background:none;
	color:#9a9a9a;
	font-size:12px;
	border:1px solid #333;
	padding: 5px;
	float:left;
	width:190px;
}
.search{
	background:url(../images/search_bnt.png) no-repeat;
	width:17px;
	height:15px;
	border:none;
	float:right;
	margin:-21px 5px 0 0;
}
.flag_part{
	float:right;
}
/*--------------menu--------*/
.topnav{	
	margin:0px 0px 0px 0px;
	background:url(../images/menu_back.jpg) repeat-x;
	border:1px solid #bc67c9;
	 -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
	border-radius:5px;
	width:996PX;
	height:38px;
}
#access {
    display: block;
	padding-left:0px;
    margin:0px 20px 0px 0px;
	margin-left:0px;
	float:left;
	
	
}
#access .menu-header, div.menu {
	
	overflow:hidden;
	

}
#access .menu-header ul, div.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 ;
	padding-left:20px;
	
}
#access li:first-child {
    margin: 0;
   
}
#access .menu-header li, div.menu li {
	float: left; 
	font-weight:normal;
	padding:0px 0px 0px 20px;
	background:url(../images/menu_icon.png) no-repeat left;
	
   
}
#access a {
    display: block;
	color: #fff;
	font-size:14px;
    font-weight: normal;
    padding:10px 11px 11px 11px;
    text-decoration: none;
	font-family:"calibri";
	text-transform:uppercase;
}
#access ul ul {
   display: none;
    padding: 0px 0;
    position: absolute;
    top:175px;
    z-index: 99999;
	-moz-border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    -khtml-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}
#access ul ul li {
   background: url(../images/menu_back.png) repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #fff;
    border-right: medium none;
    float: none;
    width: 168px;
}
#access ul ul li:last-child { border:none;
-moz-border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    -khtml-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
    
}


#access ul li:last-child { border:none;   margin:0px;
    
}
#access ul ul ul {
    left:100%;
    top: 34px;
}
#access ul ul ul li{
	width:155px;
	}
#access ul ul a {
   background: none repeat scroll 0 0 transparent;
   color: #3f3f3f;
   font-size:13px;
   font-weight:normal;  
   height: auto;
   line-height: 1em; 
   margin: 0;
   padding: 10px 10px 10px 10px;
   
}
#access li:hover > a, #access ul ul *:hover > a{
    color: #e3b2eb;
}

#access li a.selected{
  color: #e3b2eb;
}


#access ul ul *:hover > a {
    color: #e3b2eb;
}

#access ul li:hover > ul{
    display: block; padding-left:0px;
}
#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a {
    color: #FFFFFF;
}
* html #access ul li.current_page_item a, * html #access ul li.current-menu-ancestor a, * html #access ul li.current-menu-item a, * html #access ul li.current-menu-parent a, * html #access ul li a:hover{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}


#access .menu-header li, div.menu li.last{
	float: left; background: none;
    font-size: 14px;
	font-weight:normal;    
}

.menu_right{
	float:right;
	margin:0px 10px 0px 0px;
}
.topnav h3{
	float:left;
	font-size:12px;
	color:#000000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin:12px 10px 0px 0px;
}
.topnav h3 a{
	color:#fff;
}
.topnav h3 a:hover{
	color:#e3b2eb;
}
.topnav h3 span{
	color:#fff;
}

.cart{
	float:left;
	margin:5px 10px 0px 0px;
}
/*--------------menu--------*/

.icon{
	float:right;
	margin:10px 0px 0px 0px;
}


.banner_panel{
	margin:0px 0px 0px 0px;
	padding:0px;
}
.banner1{
	width:540px;
	height:320px !important;
	float:left;
}
.banner2{
	width:240px;
	height:320px !important;
	float:right;
}
.cat_panel{
	background:url(../images/cat_back.jpg) no-repeat #09010e;
	border:1px solid #672e85;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:5px;
	border-radius: 5px;
	float:left;
	width:193px;
	margin:0px 10px 0px 0px;
}

.cat_panel h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:10px 0px 10px 10px;
	color:#fff;
	padding:0px;
}

.cat_list{
	margin:0px 10px 10px 10px;
	padding:0px;
	min-height:285px;
}
.cat_list li{
	padding:0px 0px 5px 0px;
	margin:5px 0px 0px 0px;
	list-style-type:none;
	border-bottom:1px solid #40184e;
}
.cat_list li a{
	padding:0px 0px 5px 15px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.cat_list li a:hover{
	background:url(../images/bulet.png) no-repeat left top;
}
.cat_list li a.selected{
	background:url(../images/bulet.png) no-repeat left top;
}

.cat_list li:last-child{
	border:none;
}
.left_part{
	float:left;
	margin:0px 10px 0px 0px;
	width:193px;
}
.left_box{
	margin:0px 0px 0px 0px;
	background:#e4caf6;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius:6px;
	border-radius: 6px;
	padding:0px 0px 10px 0px;
}

.heading{
	background:url(../images/box_header.png) repeat-x;
	margin:0px;
	padding:0px 10px 10px 10px;
	-moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -khtml-border-radius:6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.heading h3{
	background:url(../images/inner_heading.png) repeat-x;
	padding:4px 0px 4px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	-moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -khtml-border-radius:0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	margin:0px 0px 10px 0px;
}
	
.select_box{
	margin:10px 0px 10px 10px;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#91919f;
	padding:3px 5px 3px 5px;
	
}
.cat_box{
	margin:0px 0px 0px 10px;
	padding:0px;
}
.cat_box p{
	color:#980e43;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px 0px 10px 0px;
	padding:0px;
}

.shiping{
	background:#fff;
	border:1px solid #dfdadf;
	padding:5px 10px 5px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#91919f;
	margin:0px 10px 10px 0px;
}
.shiping span{
	color:#980e43;
	float:right;
	margin:0px 0px 0px 0px;
}
.price{
	font-family:Arial, Helvetica, sans-serif;
	color:#7c7a7b;
	font-size:12px;
}

.button{
	margin:10px 0px 0px 0px;
	padding:0px;
	
}
.button a{
	background:url(../images/cart_bnt.png) no-repeat;
	width:80px;
	padding:3px 0px 5px 0px;
	display:block;
	text-align:center;
	color:#fff;
}
.button1{
	margin:10px 0px 0px 0px;
	padding:0px;
	
}
.button1 a{
	background:url(../images/chech_out_btn.png) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:115px;
	padding:3px 0px 5px 0px;
	display:block;
	text-align:center;
	color:#fff;
}
.right_panel{
	width:789px;
	float:right;
	overflow:hidden;
}
.featur_box{
	width:540px;
	float:left;
	margin:0px 10px 0px 0px;
	background:url(../images/product_back.png) repeat-x #edc8ff;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
	border-radius:6px;
}
.product_area{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 10px;
}
.product_box{
	width:165px;
	margin:0px 10px 0px 0px;
	float:left;
}
.product{
	background:#fff;
	width:155px;height:155px;
	padding:4px;
	text-align:center;
	border:2px solid #cfb9de;
}
.product_box p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1d38ff;
	padding:5px 0px 0px 1px;
	margin:0px;
}
.product_box h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#de1359;
	padding:5px 0px 0px 1px;
	margin:0px;
}
.arrow{
	float:right;
	margin:-10px -3px 5px 0px;
}
.right{
	width:237px;
	float:right;
	margin:0px !important;
	min-height:337px;
	
}
.newproduct{
	width:100%;
}
.new{
	margin:0px 18px 0px 10px;
	
}

.footer{
	background:url(../images/footer_bg.jpg) no-repeat;
	width:993px;
	padding:10px;
	overflow:hidden;
	-moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius:0px 0px 6px 6px;
    -khtml-border-radius:0px 0px 6px 6px;
	border-radius:0px 0px 6px 6px;
}
.card{
	margin:10px 0px 10px 0px;
	float:left;
}
.footer_menu{
	margin:10px 10px 0px 0px;
	float:right;
}
.footer_menu li{
	float:left;
	list-style-type:none;
	color:#e41fb8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0px 5px 0px 5px;
}
.footer_menu li a{
	color:#e41fb8;
}
.footer_menu li a:hover{
	color:#fff;
}

.footer p{
	margin:-10px 10px 10px 0px;
	float:right;
	font-size:12px;
	color:#6c6b6c;
	font-family:Arial, Helvetica, sans-serif;
}

.rightbox{
	margin:0px 0px 0px 25px;
}
.containt{
	width:100%;
	min-height:672px;
}
.containt p{
	padding:0px 10px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#1a1a1a;
	font-size:12px;
	line-height:19px;
}

.cat{
	margin:0px 0px 0px 22px;
	padding:0px;
}
.cat li{
	color:#1a1a1a;
	font-size:12px;
	line-height:19px;
	font-family:Arial, Helvetica, sans-serif;
}
.selectyze2{ width:200px;}

.left_box select option{ width:120px; height:auto; padding:0 5px !important;}


.edit{ background-image: url(../images/edit.png); background-repeat:no-repeat; float:left;}
.delete{ background-image:url(../images/delete.png); background-repeat:no-repeat;}




.myCart{
	margin:0px 10px 10px 10px;
	width:770px;
	
}
.my_cart_border{
	width:760px;
}
.TabbedPanels{
	width:750px !important;
	padding:0px;
	margin:0px 0px 0px 0px;
	
}
.TabbedPanelsTabGroup{
	margin-left:-36px;
}

.cart_box{
	width:760px;
	border: 1px solid #560483;
}
.my_cart_heading{
	background:#8c34bc;
	color:#fff;
}
.TabbedPanelsTab{
	list-style-type:none;
}
.TabbedPanelsContentGroup{
	margin:0px 0px 0px 10px;
}

.pay{
	background:#621a8a;
	border:none;
	border-radius:6px 6px 6px 6px;
	padding:5px 10px 5px 10px;
	color:#fff;
	-moz-box-shadow:    0px 4px 0px 0px #41095f;
	  -webkit-box-shadow:  0px 4px 0px 0px #41095f;
	  box-shadow:          0px 4px 0px 0px #41095f;
	  cursor:pointer;
	 
	 
}
.pay:hover{
	box-shadow: 0 2px 0 #41095f;
    position: relative;
    top: 2px;
}
.link_bnt{
	margin:0px 0px 0px 10px;
	padding:0px;
	float:left;
	width:150px !important;
	
	
}
.link_bnt a{
	background:#621a8a;
	border:none;
	border-radius:6px 6px 6px 6px;
	padding:7px 10px 6px 10px;
	color:#fff;
	-moz-box-shadow:    0px 4px 0px 0px #41095f;
	  -webkit-box-shadow:  0px 4px 0px 0px #41095f;
	  box-shadow:          0px 4px 0px 0px #41095f;
	  cursor:pointer;
	  display:block;
	  overflow:hidden;
}
.link_bnt a:hover{
	box-shadow: 0 2px 0 #41095f;
    position: relative;
    top: 2px;
}

.details_from{
	margin:0px 0px 0px 10px ;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:left;
}
.details_from h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#602182;
}

.regis_text{
	margin:0px 0px 10px 0px;
	color:#535353;
	font-size:14px;
	padding:4px 7px 4px 7px;
}

.text_area{
	margin:0px 0px 10px 0px;
	color:#535353;
	font-size:14px;
	padding:4px 7px 4px 7px;
}

.pro_detailbox{
	margin:10px 0px 0px 10px;
}
.detail_img{
	margin:0px 10px 0px 0px;
	float:left;
	border:2px solid #bdbdbd;
}

.pro_detail{
	margin:0px;
	padding:0px;
	float:right;
	width:410px;
}

.pro_detail h2{
	font-size:16px;
	color:#622d7f;
	margin:0px 0px 10px 0px;
	padding:0px;
}
.pro_detail p{
	color:#363636;
	padding:0px 10px 0px 0px;
	margin:0px !important;
	line-height:19px;
}
.pro_detail h3{
	float:left;
	margin:10px 10px 10px 0px;
	padding:0px;
	font-size:13px;
}
.pro_detail span{
	margin:10px 0px 0px 0px;
	float:left;
	font-size:16px;
}

.pagination{
	margin:20px 0px 0px 20px;
}
.pagination a{
	color:#672e85;
	margin:0px 0px 0px 5px;
	font-size:16px;
}
.pagination a b{
	font-size:12px;
}
.colorPallateTable{
	margin:0px 0px 0px 8px;
}
.colorPallateTable img{
	border:1px solid #727272;
}

.colorPallateTable img.selected{
	border:1px solid #383838;
	-moz-box-shadow:    0px 0px 4px 0px #575757;
  -webkit-box-shadow: 0px 0px 4px 0px #575757;
  box-shadow:       0px 0px 4px 0px #575757;
}
