.card {
  margin-bottom: 20px;
  border: none
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #191919;
  ;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #2ecc71
}

.forgot {
  text-decoration: underline
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
  transition: all 0.8s
}
/* old */
.form-section{
  padding: 50px;
}
.form{
  margin-top: 40px;
}
div.r{
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.has-error{
  color: #fa0303 !important;
}

h1{
  text-align: center;
}

table{
  text-align: center;
}
.error{
    color: #fa0303 !important;
  }
.photo_preview{
  width: 100%;
  }
  .delete{
    padding: 7px 20px 7px 20px !important;
  }
.delete:hover{
  background:#BD3518 !important;
  color:#fff !important;
  
}
.share:hover{
  background:#169b28 !important;
  color:#fff !important;
  
}
.download:hover{
  background:#214869 !important;
  color:rgb(255, 255, 255) !important;
  
}
.upload:hover{
  background:#258f40 !important;
  color:rgb(255, 255, 255) !important;
  
}
.create:hover{
  background:#621d6b !important;
  color:rgb(255, 255, 255) !important;
  
}
.tooltip .arrow{
  color: #000 !important;
}
.tooltip-inner{
  background-color: #000 !important;
  color: #fff !important;
}
