.what-php{
	text-align:center;background:#aa9a6b;padding: 12px;color:white;
}
table tr td a{text-decoration: none;}
.scl-dis{
	color: #47d3a0;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
table tr td {font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #999999;
    text-decoration: none}
.offering{
	background-color: #47d3a0;background-size: auto;
	background-position: left top;background-repeat: no-repeat;background-attachment: scroll;
}
.offering tr{
	font-size: 25px;line-height: 1.7;letter-spacing: 0px;color: #ffffff
}