body {
background-color:#DEDEDE;
background-image:url("../images/bg.png");
background-repeat:no-repeat;
color:#444444;

margin: 0px;
font-family: Arial, Verdana, Helvetica, sans-serif;
}
/** From default style.css file **/
fieldset, table, pre
{
margin-bottom:0;
}
fieldset
{
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-border-radius: 6px;
border:1px solid #CCC;
}
p
{
margin-top: 0px;
margin-bottom: 0px;
}
form
{
margin: 0px;
}
h1, h2
{
margin: 0;
font-weight: bold;
}
h3
{
margin:0;
margin-bottom: 3px;
padding-top: 3px;
}
textarea
{
font-family: Arial,Verdana,Helvetica,sans-serif;
}
button,
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"]
{
padding:0px;
}

input[type=text],input[type=password],textarea
{
width: auto;
}

input[type=checkbox],input[type=radio]
{
border:0px;
background-color: transparent;
margin: 0px;
vertical-align: bottom;
}
ul li
{
list-style-type: disc;
margin-left: 6px;
margin-bottom: 2px;
}
ul
{
margin-top: 2px;
margin-right: 0;
}
hr
{
height:1px;
}

div.clear
{
height: 0;
clear: both;
visibility: hidden;
font-size:0;
}
th, td
{
border: none;
padding: 0;
}

/* layout the header elements */
#header {

}

.headerLarge {
height: 120px !important;
}

#header div.line
{
height: 4px;
margin: 0;
padding: 0;
}
#header ul li
{
display:inline;
}

#companyLogo
{
height: 40px;
padding: 2px 0 8px 10px;
float:left;
}
#search, #sitemapLink, #colorPicker, #welcome, #globalLinks, #globalLinksLeft
{
float: right;
}

#welcome
{
background-image: url(../images/globalLinksCenter.png);
background-repeat:repeat-x;
vertical-align: middle;
height: 31px;
padding-top: 8px;
padding-right: 10px;
color: #999;
}
/* global links */
#globalLinks a.last
{
padding-right: 10px;
}

#globalLinks span
{
color: #999;
margin: 0 5px;
}

#globalLinks span.first
{
margin-left: 0;
}

#globalLinksModule {
float: right;
margin-top: 10px;
}

#globalLinksModule a {
color: #56778F;
}

#globalLinksCtrl {
float: right;
width: 20px;
}




hr
{
border: 0;
border-top: 1px solid #999;
background-color: #999;
color: #999;
height: 1px;
margin: 1em 0;
clear: both;
}
a:link, a:visited, a:hover
{
text-decoration: underline;
font-size: 13px;
}
input, select, textarea, button, .button
{
border: 1px solid;
}
button, input[type=submit], input[type=reset], input[type=button], .button
{
font-weight: normal;
background-repeat: repeat-x;
background-position: top;
padding-bottom: 1px;
padding-right: 6px;
padding-left: 6px;
vertical-align: middle;
}




/* misc links */

a.utilsLink:link, a.utilsLink:visited
{
font-weight: normal;
text-decoration: none;
padding-bottom: 3px;
color: #56778F;
font-size:12px;
}

#globalLinks a
{
color: #1f6090;
text-decoration: none;
}

#welcome {
}

#welcome a {
font-size: 13px;
text-decoration: none;
}

#welcome span {
margin: 0 5px;
}


/* for DC menu */

.dcmenuFloat{
padding:0px;
position: fixed;
top: 0;
width:100%;
z-index:20;
}

#dcmenutop{
padding:0px;
position:relative;
height:50px;
width:100%;
}

.dcmenu{
color:blue;
height:55px;
background-image:url('../images/dcmenugrade.png');
background-repeat:repeat-x;
}


#dcboxtitle{
background-color:#000000;
border-left:2px solid blue;
border-right:2px solid blue;
color:blue;
height:50px;
padding:0px 10px 0px;

}

#dcboxbody{
height:110%;
font-size:6px !important;
min-width: 950px\9; /* ie hack, width must be defined or else it goes off the screen */
*width: 1050px;
}

#dcboxbody.sugar_spot_search{
min-width:320px\9;
width: 320px\9; /* ie hack, width must be defined or else it goes off the screen */

}




#dcmenushortcuts{
width:130px;
height:30px;
position:relative;
top:-2px;
float:left;
background-image:url('../images/shortcutgrade.png');
color:white;
font-weight:bolder;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;


}

#dcmenuitems img.icon,#dcmenuSugarCube img.icon, #glblSearchBtn img.icon {
border:0px;
}

#glblSearchBtn {
float: right;
margin-top: 7px;
margin-right: 10px;
}


#dcmenuwrap{
margin-left: auto;
margin-right: auto;
width:100%;
}

span.dcmenuitem{
height:100%;
color:black;
}
span.dcmenuitem:hover{
color:blue;
}


#dcmenuSugarCube {
float: left;
margin: 0px 0px 0 10px;
}

#dcmenuSugarCube a{
width: 36px;
height: 43px;
background-repeat:no-repeat;
padding: 0px 0 0 0;
margin: 0 0 0 0;
text-decoration: none;
display: block;
text-align: center;
}

#dcmenuSugarCube.none a.notice
{
cursor: default;
}
#dcmenuSugarCube .dc_notif_icon{
width:36px;
height:43px;
border:0px;
padding:0px;
}

#dcmenuSugarCube .notifCount{
font-weight:bold;
font-size:9px !important;
color:#FFFFFF;
position: relative; bottom: 20px; left: -8px;
text-align: center;
}


#dcmenuContainer
{
margin: 0 0 0 0;
padding: 0;
height: 44px;
float: left;
}

#dcmenuContainer ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#dcmenuContainer ul li
{
display: block;
float: left;
text-align: center;
padding: 0;
margin: 0;
}

#dcmenuContainer ul li a
{

width: 50px;
height: 43px;
/*background-image:url('../images/dcMenuIconBarCenter.png');*/
background-repeat:repeat-x;
padding: 0 0 0 0;
margin: 0 0 0 0;
color: #f5d7b4;
text-decoration: none;
display: block;
text-align: center;
}

#dcmenuContainer ul li a:hover
{
/*background-image:url('../images/dcMenuIconBarCenterHover.png');*/
background-repeat:repeat-x;
top: -2px;
position: relative;
}

#dcmenuContainer a:active
{
}

#dcmenuContainer li#active a
{
}

/* Overlay Look/Feel */
.display{
height:100%;
}

.visible{
visibility:visible
}

.dcview table, .dcview div, .dcview a{
font-size:75%;
}
.star {
float:right;
zoom: 1;
display: inline;
*float: none;
*width: 18px;
}
.moduleTitle .star
{
margin-top:4px;
padding-right:5px;
}

li div.star {float:none;}
.star div {background-image:url('../images/star-sheet.png');width:18px;height:18px;float:left;}
.star div.on {background-position:0px 0px}
.star div.off {background-position:0px -18px}
.star div:hover {cursor:pointer;background-position:0px 0px;}

.follow {float:left}
li div.follow {float:none;}
.follow div {background-image:url('../images/user_follow.png');width:24px;height:24px;float:left;}
.follow div.on {background-position:0px 0px; background-image:url('../images/user_unfollow.png');}
.follow div.off {background-position:0px -0px}
.follow div:hover {cursor:pointer;}

#SpotResults {
width:250px;
font-weight:bold;
}
#SpotResults div{
font-size:14px;
font-weight:bold;

}
#SpotResults div small{
color: #0B578F;
}

#SpotResults a:hover{
color:gray;

}
#SpotResults small:hover{
cursor:pointer;
color:gray;

}
#SpotResults ul{
padding: 0px 10px 0px 0px;
margin-left:0px;
}
#SpotResults ul li{
margin-left:0px;
list-style-type:none;
}

#SpotResults li a
{
}

#SpotResults li p.error
{
padding-top: 10px;
}

#SpotResults li p.error a
{
left: 0;
top: 0;
}

#dcmenuSearchDiv {
float:right;
margin-top: 8px;
height: 26px;
}

#sugar_spot_search_div {
background: url(../images/dcMenuSearchBox.png) no-repeat top left;
height: 26px;
width: 229px;
display: inline-block;
margin-right: 10px;
}
#sugar_spot_search {
border: 0;
width:210px;
margin-top:4px;
margin-left: 5px;
font-size: 14px;
padding:0px;
}

.dcmenuDivider {
background-image:url('../images/dcMenuDivider.png');
background-repeat:no-repeat;
width: 2px;
height: 43px;
margin:0 10px 0 0px;
}


#footer {
padding-bottom:5px;
padding-top:10px;
text-align:center;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:12px;
}










/* form */

/* for lists where we don't want to have bullet points */
ul.noBullet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

li.noBullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.noBullet.active {
margin-top: 8px;
}

li.noBullet.active .dashletPanel{
padding-bottom: 2px;
}

table.tabForm td ul li {
list-style-type: none;
margin-bottom: 10px;
}

.helpButton
{
	font-weight:700;
}

.helpShortcut
{
	font-weight:700;
}




/* rounded corners */

	/* Style the header with its associated corners */
	.dashletPanel {
	box-shadow: #999 0px 2px 10px;
	-moz-box-shadow: #999 0px 2px 10px;
	-webkit-box-shadow: #999 0px 2px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 20px;
	}
	
	.dashletPanel .hd {
		padding:0;
		text-align:left;
		vertical-align:middle;
		overflow:visible;
		position: relative;
		height:38px;
		padding-left: 9px;
		padding-right: 9px;
		
	}
	
	.dashletPanel .hd  .hd-center {
		border-width: 1px 0px 0px 0px;
		border-color: #98c6ea;
		border-style: solid;
		background:url(../images/dp-hd.png) repeat-x;
		height: 38px;
		border-bottom: 1px solid #98c6ea;
	}
	
	.dashletPanel .hd .tr {
		width:9px;
		height:38px;
		top:0;
		right:0;
		background:url(../images/dp-hd.png) repeat-x; 
		position:absolute;
		-moz-border-radius-topright: 6px;
		-webkit-border-top-right-radius: 6px;
		border-radius-topright: 6px;
		border-width: 1px 1px 0px 0px;
		border-color: #98c6ea;
		border-style: solid;
		border-bottom: 1px solid #98c6ea;
	}
	
	.dashletPanel .hd .tl {
		width:9px;
		height:38px;
		top:0;
		left:0;
		background:url(../images/dp-hd.png) repeat-x;
		position:absolute;
		-moz-border-radius-topleft: 6px;
		-webkit-border-top-left-radius: 6px;
		border-radius-topleft: 6px;
		border-width: 1px 0px 0px 1px;
		border-color: #98c6ea;
		border-style: solid;
		border-bottom: 1px solid #98c6ea;
	}
	
	.dashletPanel .hd.plain {
		height:20px;
	}
	
	.dashletPanel .hd.plain .tl {
		background:url(../images/dp-tl-plain.png) no-repeat;
		height:20px;
	}
	
	.dashletPanel .hd.plain .tr  {
		background:url(../images/dp-tr-plain.png) no-repeat;
		height:20px;
	}
	

	

	.dashletPanel .hd.plain  .hd-center {
		background:url(../images/dp-hd-plain.png) repeat-x;
		height: 20px;
	}

	/* Style the body with the left border */
	.dashletPanel .bd {
		overflow:hidden;
		padding: 0px;
		position: relative;
		margin-top: 1px\9;
		top: 2px;
	}
	
	
	.dashletPanel .bd .bd-center {
		padding: 0px;
	}
	
	.dashletPanel .bd .ml {
		width:0px;
		height: 100%;
		top:0;
		left:0;
		position:absolute;
	}
	.dashletPanel .bd .mr {
		width:0px;
		height: 100%;
		top:0;
		right:0;
		position:absolute;
	}
	
	.dashletPanel .bd.plain {
		padding:0 15px 0 15px;
	}

	/* Style the footer with the bottom corner images */
	.dashletPanel .ft {
		font-size:11px;
		border:none;
		position: relative;
		padding: 0px;
		height:0px;
	}
	
	
	.dashletPanel .ft  .ft-center {

	}
	
	.dashletPanel .ft .bl {
		bottom:0;
		left:0;
		position:absolute;
	}
	.dashletPanel .ft .br  {
		bottom:0;
		right:0;
		position:absolute;
	}
	
	.dashletPanel .list {
	-moz-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top: 0px none;
	margin: 0px !important;
	}
	
	.dashletPanel .list tr.pagination td table td:first-child {
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	}

	.dashletPanel .list tr.pagination td table td:last-child {
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	}
	
/* icons tool set for dashlet header */
.dashletPanel .hd .hd-center .dashletToolSet {
	width: 100%;
	text-align: right;
	visibility:hidden;
	padding-top: 2px;
}

.dashletPanel .hd .hd-center .dashletToolSet a{
	padding: 0px 2px;
}

.dashletPanel .hd .hd-center .dashletToolSet a:last-child  {
	padding-right: 0px;
}

.dashletPanel .hd.selected .hd-center .dashletToolSet {
	visibility: visible;
}


.dashletPanel .dashletNonTable {
	border-width: 0px 1px 0px 1px;
	border-color: #98c6ea;
	border-style: solid;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background:url(../images/dp-bd.png);
}

/* rounded corners */

	/* Skin custom elements */

	
	.dashletPanelMenu .hd {
		padding:0;
		border:none;
		text-align:left;
		vertical-align:middle;
		overflow:visible;
		position: relative;
		padding-left: 22px;
		padding-right: 22px;
		height: 15px;
	}
	
	.dashletPanelMenu .hd  .hd-center {
		background:url(../images/dp-hd-menu.png) repeat-x;
		height: 15px;
	}
	
	.dashletPanelMenu .hd .tr {
		width:22px;
		height:15px;
		top:0;
		right:0;
		background:url(../images/dp-tr-menu.png) no-repeat; 
		position:absolute;
	}
	
	.dashletPanelMenu .hd .tl {
		width:22px;
		height:15px;
		top:0;
		left:0;
		background:url(../images/dp-tl-menu.png) no-repeat;
		position:absolute;
	}
	
	.dashletPanelMenu .bd {
	overflow:hidden;
		background:none; 
		border: 0;
		position: relative;
		padding: 0 22px;
	}
	
	.dashletPanelMenu .bd .bd-center {
		/*padding-top: 15px;*/
		background:url(../images/dp-bd-menu.png) repeat; 
	}

	.dashletPanelMenu .bd .bd-center .screen {
		background-color: #fff;
		border: 1px solid #999;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		padding: 10px;
	}
	

	.dashletPanelMenu .bd .mr {
		width:22px;
		top:0;
		right:0;
		height: 100%;
		position:absolute;
		background:url(../images/dp-mr-menu.png) repeat-y;
	}
	
	.dashletPanelMenu  .ft {
			font-size:11px;
		border:none;
		position: relative;
		margin-bottom: 20px;
		height:22px;
		padding-left: 22px;
		padding-right: 22px;

	}
	
	.dashletPanelMenu .ft .bl {
		bottom:0;
		left:0;
		position:absolute;
		background:url(../images/dp-bl-menu.png) no-repeat;
		height: 22px;
		width: 22px;
	}
	
	.dashletPanelMenu .ft .br {
		bottom:0;
		right:0;
		position:absolute;
		background:url(../images/dp-br-menu.png) no-repeat;
		height: 22px;
		width: 22px;
	}
	
	.dashletPanelMenu .ft  .ft-center {
		background:url(../images/dp-ft-menu.png) repeat-x;
		height: 22px;
	}
	
	.dashletPanel.dc {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	}
	
	.dashletPanel.dc .hd {
		height: 38px;
		padding: 0 22px;
	}

	.dashletPanel.dc .hd .hd-center {
		background:url(../images/dp-hd-dc.png);
		height: 38px;
		border-bottom: 0px none;
		border-top: 0px none;
	}
	
	.dashletPanel.dc .hd .hd-center span {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		position: relative;
		top: 9px;
	}
	
	.dashletPanel.dc .hd .tl {
		background:url(../images/dp-tl-dc.png) no-repeat;
		border-left: 0;
		height: 38px;
		width: 22px;
		border-top: 0px none;
		border-bottom: 0px none;
	}	
	.dashletPanel.dc .hd .tr {
		background:url(../images/dp-tr-dc.png) no-repeat;
		border-right: 0;
		height: 38px;
		width: 22px;
		border-top: 0px none;
		border-bottom: 0px none;
	}	
	
	.dashletPanel.dc .bd {
		background: none; 
		border-left: 0px;
		border-right: 0px;
		padding: 0px 22px;
		position: relative;
		top: 0px;
	}
	
	.dashletPanel.dc .bd .bd-center {
		padding: 15px 0px 0px 0px;
		background:url(../images/dp-bd-dc.png) repeat; 
	}
		
	.dashletPanel.dc .bd .mr {
		background:url(../images/dp-mr-dc.png); 
		width: 22px;
		height: 100%;
	}
		
	.dashletPanel.dc .bd .ml {
		background:url(../images/dp-ml-dc.png); 
		width: 22px;
		height: 100%;
	}
	
	.dashletPanel.dc .ft {
		padding-left: 22px;
		padding-right: 22px;
		height: 22px;
		
	}
	.dashletPanel.dc .ft .bl {
		background:url(../images/dp-bl-dc.png) no-repeat;
		width: 22px;
		height: 22px;
	}
	
	.dashletPanel.dc .ft .br {
		background:url(../images/dp-br-dc.png) no-repeat;
		width: 22px;
		height: 22px;
	}
	
	.dashletPanel.dc .ft  .ft-center {
		background:url(../images/dp-ft-dc.png) repeat-x;
		height: 22px;
	}




/* Listview styles */
.list
{
    border: 1px solid;
}
.list tr.pagination td table td
{
    background:#FAFAFA none repeat scroll 0 0;
    color:#666666;
}

.list tr th, .list tr td[scope="col"], .edit .list tr th, .edit .list tr td[scope="col"] {
background:none repeat scroll 0 0 #EBEBED !important;
border-color:#CCCCCC -moz-use-text-color;
border-left:medium none;
border-right:medium none;
border-style:solid none;
border-width:1px medium;
}


.list tr.oddListRowS1 td, .list tr.evenListRowS1 td {
white-space:normal;
word-wrap:break-word;
}
style....6b8&c=1 (line 1196)
.list tr td {
padding:0 8px 6px 5px;
vertical-align:middle;
}
style....6b8&c=1 (line 1166)
.view tr, .view td, .view h4, .view div {
font-size:13px;
}
style....6b8&c=1 (line 5149)
.evenListRowS1 td, .oddListRowS1 td {
background-color:#FFFFFF;
border-bottom:1px solid #DDDDDD;
color:#222222;
}




/*.list tr th, .list tr td[scope=col], .edit .list tr th, .edit .list tr td[scope=col]
{
    border-left: none;
    border-right: none;
    border-top: 1px solid #cccccc;		
    border-bottom: 1px solid #cccccc;
    background: #ebebed !important;

}*/

.email .list {
	border: 0px none;
}
    
/* for subpanel tabs */
ul.subTabs
{
    padding: 4px 0;
    margin: 0px 0 0 0;
    border: none;
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}
ul.subTabs li
{
    list-style: none;
    margin: 0;
    display: inline;
}
.activeSubTab, 
ul.subTabs li a.activeSubTab:link, 
ul.subTabs li a.activeSubTab:visited, 
ul.subTabs li a.activeSubTab:hover
{
    font-weight: bold;
}
ul.subTabs li a
{
    padding: 0 8px 0 8px;
    margin: 0px;
    border-right: 1px solid;
    border-bottom: none;
    text-decoration: none;
}
ul.subTabs li a:link, ul.subTabs li a:visited 
{ 
    text-decoration: none; 
}
.subTabMore 
{
    font-size: 11px;
    text-decoration: none;
    padding-top: 3px;
}

/* module list in header.tpl */
#moduleList
{
    height: 45px;
	min-width: 1030px;
}

#subModuleList
{
    padding:0.4em 0 0.3em 1em;
	border-bottom: none;
	border-top: 2px solid;
}
#subModuleList span a
{
    text-decoration: none;
    padding: 0.2em 0.5em 0.3em 0.5em;
	margin: 0 -3px 0 0;
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: none;
}


/* last viewed and shortcuts lists in the header */
.headerList
{
    border-bottom: 2px solid;
}
.headerList a:link, .headerList a:visited, .headerList a 
{
    text-decoration: none;
    border-left:1px solid;
}
.headerList a:hover 
{
    background: #fff;
}
.headerList a:hover span
{

}
    
/* new record form */
#newRecord form  
{
    border-bottom: 1px solid;
}

/* misc links */
a.utilsLink:link, a.utilsLink:visited 
{
    font-weight: normal;
    text-decoration: none;
    padding-bottom: 3px;
	color: #999;
}
a.tabFormAdvLink:link, a.tabFormAdvLink:visited, a.tabFormAdvLink:hover 
{
    text-decoration: none;
    line-height: 20px;
    margin-right: 2px;
}
	




/* Default Styles */

h1, h2, h3
{
	color: #999;
}
.formHeader h3 {
	font-size: 14px;
	color: #666;
}

.dashletPanel .formHeader h3 {
color:#666666;
font-size:14px;
text-shadow:0 1px #FFFFFF;
}
.h3Row 
{
	
}
h1, h2, h3, h4, h5, h6, strong, dt {
font-weight:bold;
}

h1, h2, h3 {
color:#999999;
}


.h3Row td
{
	padding: 7px 5px 3px 3px;
}


h4, h5
{
	color: #666;
}
a:link, a:visited
{
    color: #0b578f;
}
a:hover
{
    color: #000000;
}

.evenListRowS1:hover td, .oddListRowS1:hover td {
background:none repeat scroll 0 0 #ECF7FF;
}



button, input[type=submit], input[type=reset], input[type=button], .button, .buttons .button, .yui-button button
{
	border: 1px solid #ccc;
	background-color: #fff;
	color: #666;
	background-image: url(../images/form-button-bg.png);
	background-position: center;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0px 8px 3px 8px;
	padding: 2px 8px 1px 8px\9; /* ie hack */
	text-shadow: 1px 1px #fff;
}

.button.primary,.yui-dialog .ft span.default button  {
	background-image: url(../images/form-button-primary-bg.png);
	border: 1px solid #326a9c;
	background-color: #356ea1;
	color: #fff;
	text-shadow: -1px -1px #254f74;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
button:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]
{
	background-color: #f9f9f9;
	background-image: url(../images/form-button-bg.png);
	background-position: center;
	border-color: #ccc;
	color: #666;
	text-shadow: 0.1em 0.1em #fff;
}

.button.primary:hover,.button.primary:focus ,button.primary[selected],.yui-dialog .ft span.default button:hover{
	border: 1px solid #326a9c;
	background-color: #3f83c0;
	text-shadow: -1px -1px #3a79b2;
	background-image: url(../images/form-button-primary-bg.png);
	color: #fff;
}

button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled]
{
	border-color: #c1c1c1;
	background-color: #f0f0f0;
	color: #999;
	text-shadow: none;
	background-image: url(../images/	);
}

.pagination button {
	border: 0px none;
	background-color: transparent;
	background-image: none;
	padding: 0px;
	position: relative;
	height: 24px;
}

.pagination button[name="listViewNextButton"],.pagination button[name="listViewPrevButton"] {
	z-index: 1;
}

.pagination button[name="listViewEndButton"],.pagination button[title="End"] {
	left: -10px;
}

.pagination button[name="listViewStartButton"],.pagination button[title="Start"] {
	left: 10px;
}

.pagination button:hover,.pagination button:focus {
	background-color: transparent;
}

.pagination button[disabled] {
	border-color: 0px none;
	background-color: transparent;
	background-image: none;
	cursor: default;
}

.buttonSlide {
	border: 0px;
}

.buttonSlide .yui-hd { 
	border: 0px;  
	background-color: transparent; 
	padding: 0px;
}

.buttonSlide.yui-module .yui-hd .toggle em { 
	background-image: url(../images/slider_button_more.png);
	background-repeat: no-repeat;
	display: inline; /* prevent IE margin doubling */
    overflow:hidden;
    text-indent:9999px;
	float: right;
    overflow:hidden;
    text-align: right;
	height: 14px;
	width: 14px;
}

.buttonSlide.yui-module.yui-closed .yui-hd .toggle em { 
	background-image: url(../images/slider_button_less.png);
}

.buttonSlide .yui-bd { 
	width: 0px;
	white-space: nowrap;
	overflow: hidden;
	border: 0px;
	background-color: transparent;
	opacity: 0;
	filter:alpha(opacity=0);
}


input,select 
{
	border-color: #ccc;
	background-color: #ffffff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

input:focus,textarea:focus, select:focus 
{
	background-color: #fff;
	border-color: #aaa;
}
textarea 
{
	border-color: #ccc;
	background-color: #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}


span.id-ff button {
	font-size: 10px; 
	padding:3px 0px 0px 0px;
	margin-top: -8px\9;
	height: 23px\9;
}
span.id-ff button img{
	width: 14px;
	height: 14px;
}

span.id-ff button#btn_vCardButton img{
	width: 16px;
	height: 11px;
}

span.id-ff button.button.btn_copy img{
	width: 14px;
	height: 15px;
}

span.id-ff.multiple button{
	margin-top: -4px;
	*margin-top: -8px;
}

span.id-ff.multiple.ownline button{
	margin-top: 0px;
	margin-bottom: 4px;
}

span.id-ff.multiple button.button.firstChild{
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-top-radius: 0px;
}

span.id-ff.multiple button.button.lastChild{
	-moz-border-radius-topleft: 0px;  
	-moz-border-radius-bottomleft: 0px; 
	border-radius-topleft: 0px;  
	border-radius-bottomleft: 0px; 
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	
	border-left-color: #eee;
}

.id-ff-remove {
	margin-top: 1px;
}




/* global links and theme picker */
#globalLinks ul li a:hover, #themepickerLinkSpan a:hover
{
    color: #56778F;
}
/* for subpanel tabs */
ul.tablist li a.activeSubTab:hover
{
    border-bottom-color: #ddd;
    color: #000000;
}
ul.subpanelTablist li a.activeSubTab:hover
{
    color: #000000;
}
                                                                                             
/* search */
#search input[name=query_string] 
{
	border-color: #6fb0e4;
	background-color: #f6fafd;
}

/* new record form */
#newRecord form a:link, 
#newRecord form a:visited 
{
    color: #666666;
}
#newRecord form a:hover 
{
    color: #444444;
}

/* listviews */

.list
{
	font-size:13px;
	border-color: #98c6ea !important;
	-moz-border-radius: 6px;
	border-radius: 6px;    
	-webkit-border-radius:6px;
}

.list.view  tr:last-child td:first-child ,.list.view  tr:last-child th:first-child{
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-border-radius-bottomleft: 6px;
}

.list.view  tr:last-child td:last-child,.list.view  tr:last-child th:last-child  {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-border-radius-bottomright: 6px;
}

.list.view  tr:last-child th,.list.view  tr:last-child td {
	border-bottom: 0px none;
}

.list tr.pagination td table td:first-child {
	-moz-border-radius-topleft: 6px;
	border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
}

.list tr.pagination td table td:last-child {
	-moz-border-radius-topright: 6px;
	border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

#subpanel_list .list.view {
box-shadow: #ccc 0px 0px 10px;
-moz-box-shadow: #ccc 0px 0px 10px;
-webkit-box-shadow: #ccc 0px 0px 10px;
}

/* list view page numbers */
.pageNumbers {
padding-right: 0px;
padding-left: 0px;
font-size:13px;
}
/* for list views */
.oddListRowS1 td:first-child, .evenListRowS1 td:first-child,.list.view th:first-child{
padding-left: 10px;
}




.oddListRowS1 td a, .evenListRowS1 td a {
	
	text-decoration:none;
	color: #006bb9;
	font-size: 13px;
}
/*.oddListRowS1 td:first-child + td + td a, .oddListRowS1 td:first-child + td + td + td a,.evenListRowS1 td:first-child + td + td a, .evenListRowS1 td:first-child + td + td + td a, .oddListRowS1 td:first-child , .evenListRowS1 td:first-child 
{
	font-weight: bold;
	
}*/
.oddListRowS1:hover tr, .evenListRowS1:hover tr {
color: #000;
}
.oddListRowS1:hover tr a, .evenListRowS1:hover tr  a
{
	color: #006bb9;
}

.oddListRowS1 td .info, .evenListRowS1 td  .info {
	padding: 0px 5px 0px 5px;
}

.list.view tr th.selectCol {
	padding: 0px 0px 0px 6px;
}

.list tr th.selectCol div{
	background-color: #ccc; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	padding: 1px 4px 3px 4px;
	padding: 0px 4px 0px 4px\9;
	background-image: url(../images/listview-select-bg.png);
	border: 1px solid #b2b2b2;
}

.list.view tr td.additionalDetails {
	padding: 0px;
}

.evenListRowS1 td, 
.oddListRowS1 td
{
    color: #222;
    border-bottom: 1px solid #ddd;
	background-color: #fff;
	height:35px;
	vertical-align:middle;
}

.evenListRowS1 td{
background-color: #f6f6f6;
}

/* detailviews */
.detail table, 
table.detail
{
    background-color: #ccc;
}
.detail tr td[scope="row"] 
{
    color: #888;
    background-color: #eee;
    border-color: #ccc;
}
.detail h4 {
    color: #444444;
}
.detail tr th 
{
    border-color: #ccc;
}
.detail tr td 
{
    color: #222;
    border-color: #ccc;
    background-color: #fff;
}
.detail tr td a:link, 
.detail tr td a:visited,
.detail tr td a:hover 
{
    color: #0b578f;
}

/* editviews */
.edit td[scope=row]
{
    color: #444444;
}

#EditView hr{
    border-color:#abc3d7; 
}

.edit, .detail, .detail > table
{
    border: 1px solid #98C6EA;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.detail > table
{
    border: none;	
}

.detail {
background-color: #fff;
}

.edit
{
    color: #000000;
    background-color: #fff;
}
.search
{
   
}

table#mass_update_table td{
	padding-top: 10px !important;
}


.detail .edit td
{
    background-color: #fff !important;
    border-bottom: 0 !important;
}

/* other views */
.other 
{
	border: 2px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
.other td
{
    color: #444444;
    background-color: #ffffff;
    border-left-color: #dfdfdf;
}
.other td[scope=row]
{
    color: #000000;
    background-color: #eee;
}
.other td.edit
{
    color: #000000;
    background-color: #f6f6f6;
}

/* misc links */
a.utilsLink:link, a.utilsLink:visited 
{

}
a.tabFormAdvLink:link, a.tabFormAdvLink:visited 
{
    color: #444444;
}



